<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="top-right-buttons">
    <a href="/login" class="button" sec:authorize="!isAuthenticated()">Login</a>
    <a href="/logout" class="button" sec:authorize="isAuthenticated()">Logout</a>
</div>

<h1>Welcome to Index PAGE!</h1>

</body>
</html>
